* {
  margin: 0;
  padding: 0;
}

.wraper {
  width: 100vw;
  height: 100vh;
  background: #a9c0e2;
  background-image: url('/img/fon.jpg');
}

.logoName {
  text-align: center;
  color: white;
}

.game {
  display: flex;
}

.board {
  display: flex;
  margin: 0 auto;
  width: 620px;
  height: 620px;
  border: royalblue 2px solid;
  border-radius: 5px;
}

.flipper {
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card {
  width: 144px;
  height: 204px;
  /* border: green solid 4px;
  border-radius: 10px; */
  overflow: hidden;
  margin: 5px;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.options-game {
  margin: 50px;
}

.options-game_table {
}

.options-game_button {
  text-align: center;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  border: green solid 4px;
  border-radius: 10px;
  width: 60px;
  cursor: pointer;
}

.options-game_timer {
  text-align: center;
  color: #777;
}

.red {
  background-color: lightcoral;
}
