* {
  margin: 0;
  padding: 0;
}

.wraper {
  width: 100vw;
  height: 100vh;
  background: #0e2340;
}

.logoName {
  text-align: center;
  color: white;
}

.board {
  margin: 0 auto;
  width: 620px;
  height: 620px;
  border: royalblue 2px solid;
  border-radius: 5px;
}

.flipper {
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card {
  width: 200px;
  height: 200px;
  border: green solid 1px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
